{% extends 'base.html' %}
{% block content %}
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'deco.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Stylish&display=swap" rel="stylesheet">
</head>
<body>
    
<h2>{{crudapp.title}}</h2>
<br>
<p class="preview">{{crudapp.body}}</p>
<br/>
<p class="date">DATE {{crudapp.pub_date}}</p>
<br/><br/>
<div class="bt">
    <a href="{% url 'postupdate' crudapp.id %}">수정하기</a>
    <a href="{% url 'postdelete' crudapp.id %}" onclick="return confirm('정말 삭제하시겠습니까?')">삭제하기</a>
</div>
</body>             
</html>
{% endblock %}