{% extends 'base.html' %}
{% block content %}
{% load static %}
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'deco.css' %}">
</head>
<body>
    
{% for crudapp in crudapps.all %}
    <li class="item">
        <h2>{{crudapp.title}}</h2>
        <p class="preview">{{crudapp.summary}}<a href="{% url 'detail' crudapp.id %}">...more</a></p>
        <p class="date">DATE {{crudapp.pub_date}}</p>
    </li>
    </body>
    </html>
{% endfor %}
<a href="{% url 'postcreate' %}" class="newpost">새 글 쓰기</a>

{% endblock %}